.cxkj-node-manage-container {
  .node-manage-header {
    .research-list {
      .research-item {
        display: inline-block;

        &.select-list {
          margin-right: 10px;
        }
      }
    }


  }

  .node-manage-content {
    .ant-table-container {
      .column-mem-ratio {
        min-width: 110px;
      }
      .ant-progress {
        position: relative;
        .ant-progress-outer {
          padding-right: 0;
        }
        .ant-progress-text {
          position: absolute;
          left: 12px;
          top: 4px;
          color: rgba(255, 255, 255, 0.75);
        }
      }

      .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
        padding: 16px 6px;
        text-align: center;
      }
    }
  }

}
