@import "src/scss/colors";
.node-container-exit-maintenance-mode-modal {
  .ant-modal-body {
    >p {
      b {
        color: $Red;
      }
    }

    > div {
      margin-bottom: 1rem;
      color: $Orange;
    }
  }
}