.cxkj-container-header {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 12px !important;
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 !important;
  background-color: transparent !important;

  .ant-btn {
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    padding: 4px 10px !important;

    &.button-disabled[disabled] {
      opacity: .6 !important;
      color: #fff !important;
      background-color: #177ddc !important;
      border-color: #177ddc !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;

      &.ant-btn-dangerous {
        background-color: #a61d24 !important;
        border-color: #a61d24 !important;
      }
    }

    > .anticon + span,
    > span + .anticon {
      margin-left: 4px;
    }
  }
}